.calories-display > p {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    float: left;
    width: 16%;
    height: 30px;
    line-height: 30px;
    margin: 1% 4% 1% 4%;
    text-align: center;
    background: bisque;
    background-color: bisque;
}

.button-form{
    background-color: bisque ;
}


div.calories-display {
    height: 70px
}
 
#main-container {
    width: 90%;
    margin-left: 5%;
}

#track-food {
    text-align: center;
    background-color: bisque;
    padding: 1%;
    width: 40%;
    float: right;
    height: 30 rem;
    /* opacity: .8; */
    display: inline-grid;
    margin: 2%;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    border-width: 1px;
}


#track-exercise {
    text-align: center;
    background-color: bisque;
    padding: 1%;
    width: 40%;
    height: 30 rem;
    float: left;
    /* opacity: .8; */
    display: inline-grid;
    margin: 2%;
    box-shadow: 2px 2px brown ;
    color: black;
    border: solid;
    border-width: 1px;
} 

#main-container p {
    text-align: center;
    margin-top: 0;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 1%;
    border-color: black;
    
}


#main-container p.item-header {
    padding-left: 20px;
    text-align: center;
    background-color: bisque;
}

.item-1 {
    width: 25%;
    margin-right: 1%;
    float: left;
    background-color: bisque;
}

.item-2 {
    width: 19%;
    margin-right: 1%;
    float: left;
    background-color: bisque;

}

.item-3 {
    width: 19%;
    margin-right: 1%;
    float: left;
    background-color: bisque;
}


#main-container button {
    float: right;
    margin-left: 1%;
    margin-bottom: 1%;
    width: 30%;
    background-color: bisque;
}


#main-container button.add-item  {
    float:none;
    margin-left: 50%;
    transform: translate(-50%);
}

#row {
    height: 43px;
}

#add {
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    background-color: bisque;
    width: 500px;
    height: 300px;
    
}

#add button {
    position: absolute;
    width: 30px;
    height: 30px;
    top:0;
    right:0;
}

#add form {
    text-align: center;
    margin-left: 50%;
    margin-top: 20%;
    transform: translate(-50%);
}

#add input {
    margin-top: 2%;
    text-align: center;
}

.Today{
    background-image: url("https://i.imgur.com/i9d2fzP.png"); 
    height: 1000px;
}
